<a href="https://colab.research.google.com/github/zaffykhan/DataScience/blob/main/Titanic_Passenger_Survival_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menu bar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menu bar, select Cell$\rightarrow$Run All).

Make sure that in addition to the code, you provide written answers for all questions of the assignment.

Below, please fill in your name and collaborators:

In [ ]:
NAME = "Muneeb Zafar Khan"

## Assignment 2 - Data Analysis using Pandas
**(15 points total)**

For this assignment, we will analyze the open dataset with data on the passengers aboard the Titanic.

The data file for this assignment can be downloaded from Kaggle website: https://www.kaggle.com/c/titanic/data, file `train.csv`. It is also attached to the assignment page. The definition of all variables can be found on the same Kaggle page, in the Data Dictionary section.

Read the data from the file into pandas DataFrame. Analyze, clean and transform the data to answer the following question:

**What categories of passengers were most likely to survive the Titanic disaster?**

In [ ]:
"""342 passengers suvived the Titanic crash which is 38.38 percent of passengers on board. Higher sibling count did not correlate to higher chances of survival as evidenced by data. Infact lower sibling count ensured higher chances of survival. Higher family count did not correlate to higher chances of survival as evidenced by data. Infact lower family count ensured higher chances of survival. Based on data, it can also be assumed that there were not many big families onboard the ship. Hence the low rescue numbers of big familiesPassengers traveling in the First Class cabins had higher chances of survival. Smaller family size 0, 1 and 2 and members in the upper class had higher chances of survival as evidenced by data.Females in first class were prioritized in the rescue mission while those in 2 and 3 class were given second priority. Men traveling in 2nd class were given least priority in the rescue missions. 217 passengers that survived embarked at location S which constituted 63.45 of total passengers 140 of whom were females. 61 children were rescued in the mission, which is 17.84 percent of total survivors."""

**Question 1.**  _(4 points)_
* The answer to the main question - What categories of passengers were most likely to survive the Titanic disaster? _(2 points)_
* The detailed explanation of the logic of the analysis _(2 points)_

The categories of passengers most likely to survive the Titanic disaster were:

Gender: Females were more likely to survive compared to males.
Class: Passengers in higher classes (1st class) had a higher chance of survival than those in lower classes.
Age: Children had a higher survival rate compared to adults.
Family Size: Passengers with smaller family sizes (0-2) were more likely to survive.
Embarked Location: Passengers embarked at certain locations had higher survival rates than others.
Explanation:

Gender: The analysis showed that females had a significantly higher survival rate compared to males. This is likely due to the "women and children first" protocol followed during the evacuation.
Class: Passengers in higher classes had access to better accommodations and were possibly given priority during the evacuation process.
Age: Children were given priority during the evacuation, resulting in a higher survival rate for this age group.
Family Size: Smaller families may have been able to evacuate more efficiently or may have received priority during the rescue efforts.
Embarked Location: There might be variations in the demographics of passengers embarking from different locations, affecting their chances of survival.


**Question 2.**  _(3 points)_
* What other attributes did you use for the analysis? Explain how you used them and why you decided to use them.
* Provide a complete list of all attributes used.

Attributes used for the analysis:

Survived: To determine survival rates.
Sex: To analyze survival rates based on gender.
Pclass (Passenger Class): To analyze survival rates based on class.
Age: To analyze survival rates based on age.
SibSp (Number of Siblings/Spouses Aboard): To analyze survival rates based on family size.
Embarked: To analyze survival rates based on embarked location.
I decided to use these attributes because they are relevant to understanding the demographics and circumstances of the passengers aboard the Titanic and how these factors may have influenced their likelihood of survival.



**Question 3.**  _(3 points)_
* Did you engineer any attributes (created new attributes)? If yes, explain the rationale and how the new attributes were used in the analysis?
* If you have excluded any attributes from the analysis, provide an explanation why you believe they can be excluded.

Question 3:

I engineered one attribute:

FamilySize: Created by summing the columns SibSp and Parch. This attribute was used to analyze survival rates based on family size. Smaller family sizes may have had better chances of survival due to easier coordination during evacuation.
I did not exclude any attributes from the analysis as each attribute provides valuable insight into different aspects that may have influenced survival rates.



**Question 4.**  _(5 points)_
* How did you treat missing values for those attributes that you included in the analysis (for example, `age` attribute)? Provide a detailed explanation in the comments.

For the Age attribute:

Missing age values were filled using the median age of passengers grouped by gender. This approach helps preserve the distribution of ages within each gender category while providing a reasonable estimate for missing values.
The rationale behind using the median age of passengers grouped by gender is that age may correlate with survival rates, and using the median ensures that the imputed values are representative of the age distribution within each gender category. This approach avoids biases introduced by using a single overall median age for all passengers.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#importing Titanic Data
titanic = pd.read_csv('train.csv',
                      sep=',', # separating using commas
                      index_col = 'PassengerId') #using passengerID column as the index

titanic.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [ ]:
titanic.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
titanic.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [ ]:
# Checking the number of missing values in Age Column
titanic['Age'].isnull().sum()

177

In [ ]:
# calculating the median age based on gender and filling the missing values
titanic["Age"].fillna(titanic.groupby("Sex")["Age"].transform("median"), inplace=True)

In [ ]:
titanic.groupby("Sex")['Age'].agg(['mean', 'median'])

             mean  median
Sex
female  27.761146    27.0
male    30.355581    29.0

In [ ]:
#Checking if there are any null values
titanic['Age'].isnull().sum()

0

In [ ]:
titanic['Age'].mean()

29.441268237934903

In [ ]:
titanic['Age'].median()

29.0

In [ ]:
titanic['Age'].median()

29.0

In [ ]:
# checking total passengers onboard and how many survived and how many persihed

In [ ]:
survived_persished_counts = titanic['Survived'].value_counts()
survived_persished_counts

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
passengers_survived = survived_persished_counts[1]
passengers_survived

342

In [ ]:
passengers_perished = survived_persished_counts[0]
passengers_perished

549

In [ ]:
total_passengers = survived_persished_counts.sum()
total_passengers

891

In [ ]:
percent_survived = round((passengers_survived * 100) / total_passengers, 2)
percent_survived

38.38

In [ ]:
percent_perished = round(passengers_perished*100 / total_passengers, 2)
percent_perished

61.62

In [ ]:
survived_passengers = str(passengers_survived) + " passengers suvived the Titanic crash which is "+ str(percent_survived) + " percent of passengers on board. "
print(survived_passengers)

342 passengers suvived the Titanic crash which is 38.38 percent of passengers on board.

In [ ]:
#survival rates based on gender
print(titanic.groupby(["Sex"])["Survived"].value_counts())

Sex     Survived
female  1           233
        0            81
male    0           468
        1           109
Name: count, dtype: int64

In [ ]:
survived_by_gender = titanic.groupby(["Sex"])["Survived"].sum()
survived_by_gender

Sex
female    233
male      109
Name: Survived, dtype: int64

In [ ]:
percent_female_survival = round(survived_by_gender[0]*100/passengers_survived,2)
percent_female_survival

68.13

In [ ]:
female_survival_rate = " 233 people of the 342 passengers that survived were of the female gender which constitutes " + str(percent_female_survival) + " percent of the survived population. "
female_survival_rate

' 233 people of the 342 passengers that survived were of the female gender which constitutes 68.13 percent of the survived population. '

In [ ]:
titanic.groupby('Sex')['Age'].agg(['mean', 'median'])

             mean  median
Sex
female  27.761146    27.0
male    30.355581    29.0

In [ ]:
# sibling support and its impact onsurvival rate
sibling_support = titanic.groupby(["SibSp"])["Survived"].sum()
print(sibling_support)

SibSp
0    210
1    112
2     13
3      4
4      3
5      0
8      0
Name: Survived, dtype: int64

In [ ]:
sibling_support_conclusion = "Higher sibling count did not correlate to higher chances of survival as evidenced by data. Infact lower sibling count ensured higher chances of survival. "

In [ ]:
sibling_support_conclusion

'Higher sibling count did not correlate to higher chances of survival as evidenced by data. Infact lower sibling count ensured higher chances of survival. '

In [ ]:
#checking if family size had any impact on survival rate

In [ ]:
titanic['FamilySize'] = titanic.SibSp + titanic.Parch

In [ ]:
family_size_survival = titanic.groupby(["FamilySize"])["Survived"].sum()

In [ ]:
family_size_survival

FamilySize
0     163
1      89
2      59
3      21
4       3
5       3
6       4
7       0
10      0
Name: Survived, dtype: int64

In [ ]:
familySize_statement = "Higher family count did not correlate to higher chances of survival as evidenced by data. Infact lower family count ensured higher chances of survival. Based on data, it can also be assumed that there were not many big families onboard the ship. Hence the low rescue numbers of big families"

In [ ]:
#chances of survival based on class
survivedClass = titanic.groupby("Pclass")
print(survivedClass)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000221E247A5D0>

In [ ]:
survived_by_class = survivedClass["Survived"].sum()
print(survived_by_class)

Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64

In [ ]:
survived_by_class_conclusion = "Passengers traveling in the First Class cabins had higher chances of survival. "

In [ ]:
# chances of survival based on gender and class

In [ ]:
class_gender_survival = titanic.groupby(["Pclass", "Sex"])["Survived"].sum()

In [ ]:
class_gender_survival

Pclass  Sex
1       female    91
        male      45
2       female    70
        male      17
3       female    72
        male      47
Name: Survived, dtype: int64

In [ ]:
class_gender_survival_conclusion = "Females in first class were prioritized in the rescue mission while those in 2 and 3 class were given second priority. Men traveling in 2nd class were given least priority in the rescue missions. "

In [ ]:
#checking correlation betweem sex, family size, class and survival rate

In [ ]:
family_class =  titanic.groupby(["FamilySize","Pclass"])["Survived"].sum()
family_class

FamilySize  Pclass
0           1         58
            2         36
            3         69
1           1         51
            2         18
            3         20
2           1         18
            2         21
            3         20
3           1          5
            2         10
            3          6
4           1          2
            2          1
            3          0
5           1          2
            2          1
            3          0
6           3          4
7           3          0
10          3          0
Name: Survived, dtype: int64

In [ ]:
family_gender_class =  titanic.groupby(["Sex","FamilySize","Pclass"])["Survived"].sum()
family_gender_class

Sex     FamilySize  Pclass
female  0           1         33
                    2         29
                    3         37
        1           1         39
                    2         17
                    3         15
        2           1         13
                    2         13
                    3         12
        3           1          2
                    2          9
                    3          5
        4           1          2
                    2          1
                    3          0
        5           1          2
                    2          1
                    3          0
        6           3          3
        7           3          0
        10          3          0
male    0           1         25
                    2          7
                    3         32
        1           1         12
                    2          1
                    3          5
        2           1          5
                    2          8
                    3          8
        3           1          3
                    2          1
                    3          1
        4           3          0
        5           1          0
                    3          0
        6           3          1
        7           3          0
        10          3          0
Name: Survived, dtype: int64

In [ ]:
family_class_colclusions = "Smaller family size 0, 1 and 2 and members in the upper class had higher chances of survival as evidenced by data. "

In [ ]:
# checking to see correalation between location at which journey was embarked and survival rate

In [ ]:
embarked_location_survival = titanic.groupby(["Embarked"])["Survived"].sum()
embarked_location_survival

Embarked
C     93
Q     30
S    217
Name: Survived, dtype: int64

In [ ]:
# classifying based on embarked location and gender
embarked_location_survival_female = titanic.groupby(["Embarked", "Sex"])["Survived"].sum()
embarked_location_survival_female

Embarked  Sex
C         female     64
          male       29
Q         female     27
          male        3
S         female    140
          male       77
Name: Survived, dtype: int64

In [ ]:
embarked_mlocation_survival_conclusion = str(embarked_location_survival[2]) + " passengers that survived embarked at location S which constituted "  + str(round(embarked_location_survival[2] * 100 / passengers_survived, 2)) + " of total passengers 140 of whom were females. "
embarked_mlocation_survival_conclusion

'217 passengers that survived embarked at location S which constituted 63.45 of total passengers 140 of whom were females. '

In [ ]:
embarked_location_survivalG = titanic.groupby(["Embarked", "Sex"])["Survived"].sum()
embarked_location_survivalG

Embarked  Sex
C         female     64
          male       29
Q         female     27
          male        3
S         female    140
          male       77
Name: Survived, dtype: int64

In [ ]:
# were children prioritized in rescue mission

In [ ]:
children = titanic[titanic['Age'] < 18]

# Calculate the survival rate for children
children_survival_rate = children['Survived'].sum()

# Filter passengers aged 20 and above
adults = titanic[titanic['Age'] >= 18]

# Calculate the survival rate for adults
adults_survival_rate = adults['Survived'].sum()

# Print the survival rates
print("Survival rate for children under 20:", children_survival_rate)
print("Survival rate for adults aged 20 and above:", adults_survival_rate)

Survival rate for children under 20: 61
Survival rate for adults aged 20 and above: 281

In [ ]:
children_survival_rate_conclusion = str(children_survival_rate) + " children were rescued in the mission, which is " + str(round(children_survival_rate * 100 / passengers_survived, 2)) + " percent of total survivors."
children_survival_rate_conclusion

'61 children were rescued in the mission, which is 17.84 percent of total survivors.'

In [ ]:
conclusion = survived_passengers + sibling_support_conclusion + familySize_statement + survived_by_class_conclusion +family_class_colclusions+ class_gender_survival_conclusion + embarked_mlocation_survival_conclusion + children_survival_rate_conclusion

In [ ]:
conclusion

'342 passengers suvived the Titanic crash which is 38.38 percent of passengers on board. Higher sibling count did not correlate to higher chances of survival as evidenced by data. Infact lower sibling count ensured higher chances of survival. Higher family count did not correlate to higher chances of survival as evidenced by data. Infact lower family count ensured higher chances of survival. Based on data, it can also be assumed that there were not many big families onboard the ship. Hence the low rescue numbers of big familiesPassengers traveling in the First Class cabins had higher chances of survival. Smaller family size 0, 1 and 2 and members in the upper class had higher chances of survival as evidenced by data. Females in first class were prioritized in the rescue mission while those in 2 and 3 class were given second priority. Men traveling in 2nd class were given least priority in the rescue missions. 217 passengers that survived embarked at location S which constituted 63.45 of total passengers 140 of whom were females. 61 children were rescued in the mission, which is 17.84 percent of total survivors.'